.box-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  h1 {
    color: var(--gray-500);
    font-size: 32px;
    margin-left: 10%;
  }

  .filterMobile {
    display: none;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;

    margin-right: 10rem;
    padding: 10px;
    width: 142px;
    height: 42px;
    cursor: pointer;
    outline-style: none;

    background-repeat: no-repeat;
    background-size: 12px 9px;
    background-position: right 0.25em center;
    padding-right: 1em;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvcZ8Bqt9flhKaAT1h9jiAk54k59ik4sG8SCqBUADbNGKoxBDlTFbg_0jyq4bUd66jPzc&usqp=CAU");

    option {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      background-color: #ffffff;

      background-size: 70px;
    }

    option:hover {
      background-color: yellow !important;
    }
  }
}

@media (max-width: 825px) {
  .box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: 12px;
    }

    select {
      display: none;
    }

    .filterMobile {
      display: flex;

      button {
        background: white;
        color: var(--gray-300);
        border: solid 1px var(--gray-300);
        box-shadow: none;
        height: 49px;
        width: 170px;
        cursor: pointer;
        margin-top: 0.3rem;
      }
    }
  }
}