.box-sizes,
.selectFilter-mobile-size {
  margin-top: 24px;
  width: 30%;

  h2 {
    margin-bottom: 15px;
  }

  div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .size {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    border: 1px solid var(--gray-100);
    cursor: pointer;
  }

  .select-size {
    border: 1px solid var(--cyan-500) !important;
  }

  .size:hover {
    border: 1px solid var(--cyan-500);
  }
}

.selectFilter-mobile-size {
  margin-top: 0;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}