.box-colors,
.box-prices {
  margin-top: 54px;

  h2 {
    margin-bottom: 15px;
  }

  li {
    margin-top: 12px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;

    label {
      margin-left: 10px;
    }

    input {
      cursor: pointer;
    }

    input[type="checkbox"] {
      appearance: none;
      width: 16px;
      height: 16px;
      border: 1px solid var(--gray-100);
      background-clip: content-box;
      padding: 3px;
    }

    input[type="checkbox"]:checked {
      background-color: var(--cyan-500);
    }
  }

  .box-textColors {
    display: flex;
    font-size: 12px;
    position: relative;
    color: var(--gray-300);
    text-decoration: underline;
    margin-top: 0.5rem;

    &:hover {
      color: var(--cyan-500);
    }
  }

  .box-textColors {
    display: flex;
    font-size: 12px;
    position: relative;
    color: var(--gray-300);
    text-decoration: underline;
    margin-top: 0.5rem;

    &:hover {
      color: var(--cyan-500);
    }
  }

  .box-moreColors {
    display: none;
  }

  .view-colors {
    display: block !important;
  }
}

.box-prices {
  margin-top: 24px;
}