@import "reset";
@import "header/cart.scss";
@import "main/aside/box-colorPrice.scss";
@import "main/aside/box-sizes.scss";
@import "main/section/box-content.scss";
@import "main/section/box-products.scss";

:root {
  --black: #000000;

  --gray-100: #808080;
  --gray-300: #666666;

  --cyan-500: #00c0ee;
}

main {
  display: flex;
  margin-left: 10%;
  min-height: 100vh;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--black);
  height: 33px;
  margin-top: 43px;
  position: relative;
  bottom: 0;
}

.mobile-filter {
  .header-filter {
    display: flex;
    padding: 1rem 0;
    border-bottom: 2px solid #c7c7c7;

    .order,
    .filter {
      width: 100%;
      padding-left: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 28px;
      color: var(--gray-300);
    }
  }

  .buttons-apply {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .apply {
      width: 160px;
      background: var(--cyan-500);
      height: 35px;
      border: none;
      color: white;
    }

    .clean {
      width: 160px;
      height: 35px;
      border: none;
      background: white;
      color: var(--gray-300);
      border: 1px solid var(--gray-300);
    }
  }

  .filters-mobile {
    margin-top: 40px;
    height: 90vh;

    .ul-mobile {
      margin: 0 16px;
      margin-top: 30px;

      display: flex;
      justify-content: space-between;
    }
  }
}

.mobile-filter {
  display: none;
}

.remove-desktop {
  display: none !important;
}

.order-removed {
  display: none !important;
}

.filter-removed {
  display: none !important;
}

.buttons-apply-removed {
  display: none !important;
}

.mobile-filter-active {
  display: block !important;
}